@charset "utf-8";

html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    .logotype {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        min-width: 30rem;
        margin-top: -3rem;
        cursor: default;

        h1 {
            path {
                fill: #d86363;
                animation: fadein 1s;
            }
        }

        .desc {
            text-align: center;
            font-size: 1.5rem;
            color: #565656;
            text-transform: capitalize;
        }
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
}
