<head>
  <!-- Character Set -->
  <meta charset="utf-8">

  <!-- Title -->
  {% if page.title %}
    {% if page.title == 'home' %}
      <title>{{ site.title | xml_escape }}</title>
    {% else %}
      <title>{{ page.title | capitalize | append: ' - ' | append: site.title | xml_escape }}</title>
    {% endif %}
  {% else %}
    <title>{{ site.title | xml_escape }}</title>
  {% endif %}

  <!-- Description -->
  {% if page.description %}
    <meta
      name="description"
      content="{{ page.description | xml_escape }}">
  {% else %}
    <meta
      name="description"
      content="{{ site.description | xml_escape }}">
  {% endif %}

  <!-- Viewport -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Disable automatic phone number detection in Safari on iOS -->
  <meta
    name="format-detection"
    content="telephone=no">

  <!-- Canonical -->
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

  <!-- RSS Feed -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS feed for {{ site.title | xml_escape }}"
    href="/feed.xml">
</head>
